@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  color: #ffffff;
  background-color: var(--bg-color);
  padding: 10px;
}

body .container {
  max-width: 10000000px;
}

body .container header {
  background: url(3.jpg);
  background: url(sedecampestre.jpeg);

  min-height: 300px;
  padding: 20px 50px 60px;
  border-radius: 50px;
  list-style: none;
}


body .container header .category {
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-transform: none;
}



.category a {

  color: #fff;
  margin-top: 0;
  margin-bottom: 10rem;
  font-size: 1rem;
}



body .container header .info {
  text-align: center;
}

body .container header .info .tags i {
  font-size: 40px;
  margin-right: 20px;
}

body .container header .info .tags span {
  font-size: 0.8rem;
}

body .container header .info .title {
  text-align: center;
  margin: 30px 0;
  font-size: 5rem;
  font-weight: bold;
}

body .container header .info .subtitle {
  min-width: 100%;
  margin: 0auto 35px;
  font-size: 1.4rem;
}

body .details {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.14);
  margin-top: 50px;
  padding: 20px 50px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.68);
}

body .details .item .item-title {
  color: #ccc;
}

body .details .item .item-text {
  margin-top: 5px;
  font-size: 1.5rem;
}

body article {
  margin-top: 50px;
  padding-bottom: 20px;
  line-height: 1.70;
}

body article h4 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 1.25rem;
}

body article h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.25rem;
}

body article p {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.1rem;
}


@media screen and (max-width: 768px) {

  body .container header {
    padding: 10px 20px 30px;
    min-height: 300px;
  }

  body .container header .category {
    font-size: 0.9rem;
  }

  body .container header .info .title {
    font-size: 2.2rem;
  }

  body .container header .info .subtitle {
    font-size: 0.8rem;
  }

  body .container .details {
    flex-direction: column;
  }

  body .container .details .item:not(:last-child) {
    margin-bottom: 30px;
  }

}

:root[data-tema="light"] {
  --bg-color: #b1acac;
  --show-sun: block;
  --show-moon: none;
  --text-color: #111;

  --message-mode: "light mode";


  --animation-sun: rotate 15s linear infinite;
  --color-switcher: #c4c4c4;
  --color-active: #c1c1c1;

  ;
  --border-option: 20px solid #fff;
}

:root[data-tema="dark"] {
  --bg-color: #111;
  --show-sun: none;
  --show-moon: block;
  --text-color: #ffffff;
  --message-mode: "dark mode";
  --animation-moon: show 4s alternate infinite both;

  --color-switcher: #90afa6;
  --color-active: #fff;




  --border-option: none;

  --transform-option: translateX(100%);
}

.colggm {
  width: 100px;
  height: 100px;
  text-align: left;
}


.main {
  min-height: 20px;
  height: 10vh;
  display: grid;

}

.main_tema::after {
  content: var(--message-mode);
  display: block;
  text-align: center;
  font-size: 2.rem;

}

.main_light {
  width: 100px;
  height: 100px;
  text-align: center;
}

.main_dark {

  width: 100px;
  height: 100px;
  text-align: center;

}

.main_light {
  display: var(--show-sun);
}

.main_dark {
  display: var(--show-moon);
}

#sun {
  transform-box: fill-box;
  transform-origin: center;
  animation: var(--animation-sun);
}

[id^="star"] {
  animation: show 4s alternate infinite;
}

#star2 {
  animation-delay: .7s;
}

#star3 {
  animation-delay: 1.4s;
}

.main_switcher {
  width: 100px;
  height: 44px;
  background-color: var(--color-switcher);
  margin: 1rem;
  margin-top: 1rem;
  padding: 2px 5px;
  border-radius: 100px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.main_check {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
}

.main_option {
  width: 40px;
  height: 40px;
  background-color: var(--color-active);
  border: var(--border-option);
  border-radius: 50%;

  transition: transform .3s;
  transform: var(--transform-option, none);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);

  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body .container header .menu-options {


  text-align: right;
  right: 100%;
  top: 45%;
  transform: translate(-50%, -50%);
  padding: 10px;
}




html {
  font-size: 15px;
  font-family: 'Red Hat Display', sans-serif;
}

*,
*::after,
*::before {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
}

footer {
  position: relative;
  bottom: 0;
  background: var(--footer-background);
  min-width: 10rem;
  width: 70vw;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-wrapper {
  display: flex;
  background: var(--footer-background);
  flex-direction: column;
  max-width: 80rem;
  padding: 1rem;
}

.footer-wrapper {
  display: flex;
  background: var(--footer-background);
  flex-direction: column;
  max-width: 80rem;
  padding: 1rem;
}

.footer-line {
  display: block;
  width: 100%;
  height: 0.5rem;
}




.footer-columns {
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  flex: 3 0 19rem;
  width: 100%;
  gap: 1rem;
  padding: 1.5rem 0.5rem 1rem 0.5rem;
  margin: 0 auto;
}

.footer-columns ul {
  color: #c7cfc9;
  list-style-type: none;
  padding: 4px;
  margin: 0;
}

.footer-columns ul a {
  color: #c7cfc9;
  text-decoration: none;
}

.footer-columns ul a:hover {
  text-decoration: underline;
}

.footer-columns ul li {
  margin-bottom: 1rem;
}

.footer-columns h3 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
}

.footer-centering {
  margin: auto;
}

.footer-columns>section {
  min-width: 20rem;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  color: var(--text-color);
  margin-bottom: 4rem;
}

.footer-logo svg {
  stroke: var(--text-color);
  stroke-width: 8px;
  width: 3rem;
  height: 3rem;
}

.footer-bottom {
  text-align: center;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 1rem 0px;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--text-gray);
}

.footer-bottom>small {
  margin: 0 0.25rem;
}

.footer-headline>h2 {
  text-align: center;
  margin: 0;
  color: var(--text-primary);
}

.footer-headline>p {
  color: var(--text-gray);
  margin: 0.25rem 0 1.25rem 0;
}

.footer-line {
  display: block;
  min-width: 2.5rem;
  height: 0.125rem;
  background: var(--text-gray);
}

.social-links {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.social-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.social-links img {
  width: 2.5rem;
  height: 2.5rem;
  transition: all 0.2s ease-in-out;
}

.social-links img:hover {
  transform: scale(1.1);
}

.social-links ul {
  display: flex;
  gap: 0.75rem;
  list-style-type: none;
}

:root {
  --primary: #63e65e;
  --navbar-height: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.menu__wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  z-index: 2;
}


.navigation {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 1rem;
  padding: 0;
  background-color: var(--background);
}

.logo svg {
  width: 2rem;
  height: 2rem;
}

.navigation>li {
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
}

.navigation>li>a {
  color: white;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: 500;
  background-image: linear-gradient(to right,
      var(--primary),
      var(--primary) 50%,
      white 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 0.2rem 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-in-out;
}

.navigation>li>a:before {
  content: '';
  background: var(--primary);
  display: block;
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  width: 0;
  height: 0.125rem;
  transition: all 0.2s ease-in-out;
}

.navigation>li>a:hover {
  background-position: 0;
}

.navigation>li>a:hover::before {
  width: 100%;
}

@media (min-width: 600px) {
  .menu-icon {
    display: none;
  }
}

body .contenedor {
  max-width: 10000000px;
}

body .contenedor header {
  background: url(3.jpg) center / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
  padding: 20px 50px 60px;
  border-radius: 50px;
}

body .contenedor header .category {
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-transform: none;
}



.category a {

  color: #fff;
  margin-top: 0;
  margin-bottom: 10rem;
  font-size: 1rem;
}



body .contenedor header .info {
  text-align: center;
}

body .contenedor header .info .tags i {
  font-size: 40px;
  margin-right: 20px;
}

body .contenedor header .info .tags span {
  font-size: 0.8rem;
}

body .contenedor header .info .title {
  text-align: center;
  margin: 30px 0;
  font-size: 3rem;
  font-weight: bold;
}

body .contenedor header .info .subtitle {
  min-width: 100%;
  margin: 0 auto 20px;
  font-size: 1rem;
}

.morde {
  text-align: center;

}

body .morda {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 1.25rem;

}


img {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
}



body .details .item .item-text {
  margin-top: 5px;
  font-size: 1.5rem;
}

body article {
  margin-top: 50px;
  padding-bottom: 20px;
  line-height: 1.70;
}

body article p {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.1rem;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);

  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body .container header .logica {


  margin-top: 5px;
  font-size: 1.5rem;
  text-align: right;
  right: 100%;
  top: 45%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.mordo {
  text-align: center;

}

body .mordo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 1.25rem;

}

.go-top-container{
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 6.6rem;
  height: 6.6rem;
  z-index: -1;
}

.go-top-button{
  width: 0rem;
  height: 0rem;
  background: #63e65e;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.go-top-button i{
  position: relative;
  font-size: 1.9rem;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #ffffff;
  transition: .2s;
}

.show{
  z-index: 10;
}

.show .go-top-button{
  animation: poput .3s ease-in-out;
  width: 6.6rem;
  height: 6.6rem;
  z-index: 11;
}

.show i{
  transform: translate(-50%, 50%) scale(1); 
}

@keyframes popup{
  0%{
    width: 0rem;
    height: 0rem;
  }
  50%{
    width: 8rem;
    height: 8rem;
  }
  100%{
    width: 6.6rem;
    height: 6.6rem;
  }

}



.Iniciofutbol{
   width: 500px;
   height: 400px;
   display: flex;
   justify-content: left;
   border-radius: 30%;
  
  }
.atrox {
  display: flex;
}

.temo {
  margin-left: 20px;
}

.balon{
  width: 300px;
  height: 260px;
  display: flex;
  justify-content: center;
  border-radius: 15%;
 
 }

 .numerofutbo {
  margin-top: 10px;
  height: 50px;
  width: 50px;
  background-color: #63e65e;
  
  border-radius: 50%;
  
 }

 .numerofutbo {
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .cr7 {
  border-radius: 5%;
 }

 